In [2]:
import pandas as pd
import numpy as np

In [3]:
base_df = pd.read_pickle('/opt/ml/input/data/ref_FE_1.pkl')
base_df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,kind,uidIdx,assIdx,testIdx,...,time_category,solvesec_cumsum,solvecumsum_category,big_category_acc,big_category_std,big_category_cumconut,big_category_user_acc,big_category_user_std,big_category_answer,big_category_answer_log1p
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,train,0,5354,975,...,0,0.0,0,0.711898,0.453371,0,0.791908,0.406531,NaN,NaN
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,train,0,5355,975,...,1,3.0,1,0.711898,0.453371,1,0.791908,0.406531,1.0,0.693147
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,train,0,5356,975,...,3,11.0,4,0.711898,0.453371,2,0.791908,0.406531,2.0,1.098612
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,train,0,5357,975,...,2,18.0,4,0.711898,0.453371,3,0.791908,0.406531,3.0,1.386294
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,train,0,5358,975,...,2,25.0,4,0.711898,0.453371,4,0.791908,0.406531,4.0,1.609438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2526695,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438,train,7441,2373,456,...,4,220.0,5,0.701733,0.458110,4,0.200000,0.447214,1.0,0.693147
2526696,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836,train,7441,3909,748,...,9,3600.0,8,0.679714,0.467279,0,1.000000,0.000000,NaN,NaN
2526697,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836,train,7441,3910,748,...,4,10.0,3,0.679714,0.467279,1,1.000000,0.000000,1.0,0.693147
2526698,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,train,7441,3911,748,...,4,56.0,4,0.679714,0.467279,2,1.000000,0.000000,2.0,1.098612
2526699,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,train,7441,3912,748,...,5,129.0,5,0.679714,0.467279,3,1.000000,0.000000,3.0,1.386294

In [4]:
print(len(base_df.columns))
base_df.columns

40

Index(['userID', 'assessmentItemID', 'testId', 'answerCode', 'Timestamp',
       'KnowledgeTag', 'kind', 'uidIdx', 'assIdx', 'testIdx',
       'user_correct_answer', 'user_total_answer', 'user_acc', 'month', 'day',
       'hour', 'dayname', 'big_category', 'problem_num', 'mid_category',
       'test_mean', 'test_std', 'test_sum', 'tag_mean', 'tag_std', 'tag_sum',
       'Timestamp2', 'solvetime', 'solvesec', 'solvesec_3600', 'time_category',
       'solvesec_cumsum', 'solvecumsum_category', 'big_category_acc',
       'big_category_std', 'big_category_cumconut', 'big_category_user_acc',
       'big_category_user_std', 'big_category_answer',
       'big_category_answer_log1p'],
      dtype='object')

In [ ]:
# 안 쓰였던 것들
# 'Timestamp',
# 'kind', 'uidIdx', 'assIdx', 'testIdx',



# 'Timestamp2', 'solvetime', 'solvesec', 

# 'big_category_user_acc',
# 'big_category_user_std', 'big_category_answer',
# 'big_category_answer_log1p'

In [15]:
base_df['big_category_answer_log1p']

0               NaN
1          0.693147
2          1.098612
3          1.386294
4          1.609438
             ...
2526695    0.693147
2526696         NaN
2526697    0.693147
2526698    1.098612
2526699    1.386294
Name: big_category_answer_log1p, Length: 2526700, dtype: float64

In [6]:
base_df.dtypes

userID                                 int64
assessmentItemID                      object
testId                                object
answerCode                             int64
Timestamp                             object
KnowledgeTag                           int64
kind                                  object
uidIdx                                 int64
assIdx                                 int64
testIdx                                int64
user_correct_answer                  float64
user_total_answer                      int64
user_acc                             float64
month                                  int64
day                                    int64
hour                                   int64
dayname                                int64
big_category                           int64
problem_num                            int64
mid_category                           int64
test_mean                            float64
test_std                             float64
test_sum                               int64
tag_mean                             float64
tag_std                              float64
tag_sum                                int64
Timestamp2                    datetime64[ns]
solvetime                    timedelta64[ns]
solvesec                             float64
solvesec_3600                        float64
time_category                          int64
solvesec_cumsum                      float64
solvecumsum_category                   int64
big_category_acc                     float64
big_category_std                     float64
big_category_cumconut                  int64
big_category_user_acc                float64
big_category_user_std                float64
big_category_answer                  float64
big_category_answer_log1p            float64
dtype: object

In [13]:
a = [7.43280827,14.47095833,5.17794111,1.05233748,3.42990622,0.86721017
,7.47820326,0.87000865,0.21103652,0.33763193,4.50999984,2.11205021
,0.80425767,0.68140754,0.27997632,0.2566947, 0.35577948,0.11968117
,2.47938335,2.14428175,6.7699551, 0.54555584,0.22148904,1.47709251
,1.13139629,1.5500662,14.3272084, 9.08754559,5.81535986,4.00277719]

b = ['userID', 'assessmentItemID', 'testId', 'KnowledgeTag', 'user_correct_answer', 'user_total_answer', 'user_acc', 'month', 'hour', 'dayname', 'big_category', 'problem_num', 'mid_category', 'test_mean', 'test_std', 'test_sum', 'tag_mean', 'tag_std', 'solvesec', 'solvesec_3600', 'time_category', 'solvesec_cumsum', 'solvecumsum_category', 'big_category_acc', 'big_category_std', 'big_category_cumconut', 'big_category_user_acc', 'big_category_user_std', 'big_category_answer', 'big_category_answer_log1p']

ref = list(zip(a,b))
ref.sort(reverse=True)
ref

[(14.47095833, 'assessmentItemID'),
 (14.3272084, 'big_category_user_acc'),
 (9.08754559, 'big_category_user_std'),
 (7.47820326, 'user_acc'),
 (7.43280827, 'userID'),
 (6.7699551, 'time_category'),
 (5.81535986, 'big_category_answer'),
 (5.17794111, 'testId'),
 (4.50999984, 'big_category'),
 (4.00277719, 'big_category_answer_log1p'),
 (3.42990622, 'user_correct_answer'),
 (2.47938335, 'solvesec'),
 (2.14428175, 'solvesec_3600'),
 (2.11205021, 'problem_num'),
 (1.5500662, 'big_category_cumconut'),
 (1.47709251, 'big_category_acc'),
 (1.13139629, 'big_category_std'),
 (1.05233748, 'KnowledgeTag'),
 (0.87000865, 'month'),
 (0.86721017, 'user_total_answer'),
 (0.80425767, 'mid_category'),
 (0.68140754, 'test_mean'),
 (0.54555584, 'solvesec_cumsum'),
 (0.35577948, 'tag_mean'),
 (0.33763193, 'dayname'),
 (0.27997632, 'test_std'),
 (0.2566947, 'test_sum'),
 (0.22148904, 'solvecumsum_category'),
 (0.21103652, 'hour'),
 (0.11968117, 'tag_std')]

In [15]:
base_df.columns

Index(['userID', 'assessmentItemID', 'testId', 'answerCode', 'Timestamp',
       'KnowledgeTag', 'kind', 'uidIdx', 'assIdx', 'testIdx',
       'user_correct_answer', 'user_total_answer', 'user_acc', 'month', 'day',
       'hour', 'dayname', 'big_category', 'problem_num', 'mid_category',
       'test_mean', 'test_std', 'test_sum', 'tag_mean', 'tag_std', 'tag_sum',
       'Timestamp2', 'solvetime', 'solvesec', 'solvesec_3600', 'time_category',
       'solvesec_cumsum', 'solvecumsum_category', 'big_category_acc',
       'big_category_std', 'big_category_cumconut', 'big_category_user_acc',
       'big_category_user_std', 'big_category_answer',
       'big_category_answer_log1p'],
      dtype='object')