In [2]:
import numpy as np
import pandas as pd

import gc
import random
from tqdm import tqdm
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

import torch
import torch.nn as nn
import torch.nn.utils.rnn as rnn_utils
from torch.autograd import Variable
from torch.utils.data import Dataset, DataLoader

/opt/conda/envs/dkt/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [26]:
train_df = pd.read_csv('/opt/ml/input/data/train_data.csv')
train_df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225
...,...,...,...,...,...,...
2266581,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438
2266582,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836
2266583,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836
2266584,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836
2266585,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836

In [17]:
# train_df = train_df[train_df.KnowledgeTag == False]
# train_df

#arrange by timestamp
train_df = train_df.sort_values(['Timestamp'], ascending=True).reset_index(drop = True)
train_df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,784,A060014001,A060000014,1,2019-12-31 15:08:01,7229
1,784,A060014002,A060000014,1,2019-12-31 15:08:21,7229
2,784,A060014003,A060000014,1,2019-12-31 15:08:55,7229
3,784,A060014004,A060000014,1,2019-12-31 15:09:13,7229
4,784,A060014005,A060000014,0,2019-12-31 15:09:29,7229
...,...,...,...,...,...,...
2266581,588,A070152004,A070000152,0,2020-12-29 16:46:08,7866
2266582,588,A070152005,A070000152,1,2020-12-29 16:46:13,3288
2266583,588,A070152006,A070000152,0,2020-12-29 16:46:15,9078
2266584,588,A070152007,A070000152,0,2020-12-29 16:46:18,9080
2266585,588,A070152008,A070000152,0,2020-12-29 16:46:21,7866