In [3]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
plt.style.use('seaborn')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
pd.set_option('display.min_rows', 500)
import warnings
warnings.filterwarnings('ignore')

def concat_and_export(train_fe, test_fe):
    
    train_fe['kind']='train'
    test_fe['kind']='test'
    
    df = pd.concat([train_fe,test_fe])
    data_dir = '/opt/ml/input/data' # 경로
    write_path=f'{data_dir}/after_fe_train_test_cumsum.pkl'
    df.to_pickle(write_path,index=False)
    print(f"Write: {write_path}")
    
def export(df, output='after_fe_train_test.pkl'):
    data_dir = '/opt/ml/input/data' # 경로
    write_path=f'{data_dir}/{output}'
    df.to_pickle(write_path)
    print(f"Write: {write_path}")
    
path='../../data/'
train = pd.read_csv(f"{path}/train_data.csv")
test = pd.read_csv(f"{path}/test_data.csv")
sub = pd.read_csv(f"{path}/sample_submission.csv")

day_dict = {'Tuesday': 0,
 'Thursday': 1,
 'Monday': 2,
 'Saturday': 3,
 'Friday': 4,
 'Wednesday': 5,
 'Sunday': 6}

def feature_engineering(df):
    df2 = df.copy()
    #유저별 시퀀스를 고려하기 위해 아래와 같이 정렬
    df2.sort_values(by=['userID','Timestamp'], inplace=True)
    
    # 유저별 문제푼 시간, solvesec_3600, time_category
    df2['Timestamp2'] = pd.to_datetime(df2.Timestamp)
    df2['solvetime'] = df2.groupby('userID')['Timestamp2'].diff().fillna(pd.Timedelta(seconds=0))
    df2['solvesec'] = df2.solvetime.map(lambda x : x.total_seconds())
    df2['solvesec_3600'] = df2.solvesec
    df2.loc[df2.solvesec>=3600,'solvesec_3600']=3600

    df2['time_category'] = ''
    tc = [0,5,7,10,60,600,1200,2400,3600]
    df2.loc[(df2.solvesec==0), 'time_category'] = "0 - [0,0]"
    for i in range(len(tc)-1):
        s,e = tc[i],tc[i+1]
        df2.loc[(df2.solvesec>s) & (df2.solvesec<=e),'time_category']=f"{i+1} - ({s}, {e}]"
    df2.loc[(df2.solvesec>=tc[-1]),'time_category'] = f"{i+2} - ({e}, )"
    timecat2idx={k:v for v,k in enumerate(sorted(df2.time_category.unique()))}
    df2['time_category'] = df2.time_category.map(timecat2idx)
    
    
    
    #유저들의 문제 풀이수, 정답 수, 정답률을 시간순으로 누적해서 계산
    df2['user_correct_answer'] = df2.groupby('userID')['answerCode'].transform(lambda x: x.cumsum().shift(1))
    df2['user_total_answer'] = df2.groupby('userID')['answerCode'].cumcount()
    df2['user_acc'] = df2['user_correct_answer']/df2['user_total_answer']
    df2['month'] = pd.to_datetime(df2.Timestamp).dt.month
    df2['day'] = pd.to_datetime(df2.Timestamp).dt.day
    df2['hour'] = pd.to_datetime(df2.Timestamp).dt.hour
    df2['dayname'] = pd.to_datetime(df2.Timestamp).dt.day_name().map(day_dict)
    df2['big_category'] = df2.testId.map(lambda x:x[2]).astype(int)
    df2['problem_num'] = df2.assessmentItemID.map(lambda x: int(x[-3:]))
    df2['mid_category'] = df2.testId.map(lambda x: int(x[-3:]))

    # testId와 KnowledgeTag의 전체 정답률은 한번에 계산
    # 아래 데이터는 제출용 데이터셋에 대해서도 재사용
    correct_t = df2.groupby(['testId'])['answerCode'].agg(['mean', 'std', 'sum'])
    correct_t.columns = ["test_mean", "test_std", 'test_sum']
    correct_k = df2.groupby(['KnowledgeTag'])['answerCode'].agg(['mean', 'std', 'sum'])
    correct_k.columns = ["tag_mean", 'tag_std', 'tag_sum']

    df2 = pd.merge(df2, correct_t, on=['testId'], how="left")
    df2 = pd.merge(df2, correct_k, on=['KnowledgeTag'], how="left")
    
    return df2

train_fe = feature_engineering(train)
test_fe = feature_engineering(test)
train_fe.shape, test_fe.shape

((2266586, 27), (260114, 27))

In [4]:
train_fe['kind']='train'
test_fe['kind']='test'
df = pd.concat([train_fe,test_fe])

## 전체 데이터

### 문제푼시간 초단위 측정 및 내보내기

In [5]:
df = df.sort_values(['userID','Timestamp'])

df.reset_index(drop=True,inplace=True)

df['Timestamp2'] = pd.to_datetime(df.Timestamp)
df['solvetime'] = df.groupby('userID')['Timestamp2'].diff()
df['solvesec'] = df.solvetime.map(lambda x : x.total_seconds())

df.solvesec.describe()

count    2.519258e+06
mean     5.279512e+04
std      4.059280e+05
min      0.000000e+00
25%      1.300000e+01
50%      3.700000e+01
75%      1.360000e+02
max      2.560230e+07
Name: solvesec, dtype: float64

In [31]:
df['solvesec_3600'] = df.solvesec
df.loc[df.solvesec>=3600,'solvesec_3600']=3600

In [8]:
# 문제푼 시간 초단위 측정 내보내기
df2 = df.drop(['Timestamp2','solvetime'],axis=1)
export(df2,output='after_fe_train_test_solvetime2.pkl')

Write: /opt/ml/input/data/after_fe_train_test_solvetime2.pkl

## 3600초, 3200, 2400, 1800, 1200, 800, 600 이상 변환

In [9]:
df['solvesec_3600_2'] = df.solvesec
df.loc[df.solvesec>=3600,'solvesec_3600_2']=3600

In [11]:
df['solvesec_3200_2'] = df.solvesec
df.loc[df.solvesec>=3200,'solvesec_3200_2']=3200

In [12]:
df['solvesec_2400_2'] = df.solvesec
df.loc[df.solvesec>=2400,'solvesec_2400_2']=2400

In [13]:
df['solvesec_1800_2'] = df.solvesec
df.loc[df.solvesec>=1800,'solvesec_1800_2']=1800

In [14]:
df['solvesec_1200_2'] = df.solvesec
df.loc[df.solvesec>=1200,'solvesec_1200_2']=1200

In [15]:
df['solvesec_800_2'] = df.solvesec
df.loc[df.solvesec>=800,'solvesec_800_2']=800

In [16]:
df['solvesec_600_2'] = df.solvesec
df.loc[df.solvesec>=600,'solvesec_600_2']=600

In [17]:
# 문제푼 시간 초단위 측정 내보내기
df2 = df.drop(['Timestamp2','solvetime'],axis=1)
export(df2,output='after_fe_train_test_solvetime2.pkl')

Write: /opt/ml/input/data/after_fe_train_test_solvetime2.pkl

### time category 나누기

In [18]:
df['time_category'] = ''

tc = [0,5,7,10,60,600,1200,2400]
df.loc[(df.solvesec==0), 'time_category'] = "0 - [0,0]"
print(0)
for i in range(len(tc)-1):
    s,e = tc[i],tc[i+1]
    df.loc[(df.solvesec>s) & (df.solvesec<=e),'time_category']=f"{i+1} - ({s}, {e}]"
    print(s,e)
df.loc[(df.solvesec>=tc[-1]),'time_category'] = f"{i+2} - ({e}, )"
print(e)

0
0 5
5 7
7 10
10 60
60 600
600 1200
1200 2400
2400

In [20]:
df[:2]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,Timestamp2,solvetime,solvesec,solvesec_3600,...,tag_std,tag_sum,kind,solvesec_3600_2,solvesec_3200_2,solvesec_2400_2,solvesec_1800_2,solvesec_1200_2,solvesec_800_2,solvesec_600_2
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,2020-03-24 00:17:11,NaT,NaN,0.0,...,0.207410,637,train,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,2020-03-24 00:17:14,0 days 00:00:03,3.0,3.0,...,0.281603,3040,train,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [28]:
df.loc[df.time_category=='','time_category']='9999'

In [29]:
time_grp = df.groupby('time_category')['answerCode'].agg(['mean','count'])
time_grp['C'] = time_grp.index.str.extract(r'(\d+)').astype(int)[0].tolist()
time_grp.sort_values('C')[['mean','count']]

                      mean    count
time_category
0 - [0,0]         0.449879     8280
1 - (0, 5]        0.246009   364747
2 - (5, 7]        0.491269    69176
3 - (7, 10]       0.664348   102204
4 - (10, 60]      0.751549  1008903
5 - (60, 600]     0.702995   552226
6 - (600, 1200]   0.682187    27384
7 - (1200, 2400]  0.697362    16756
8 - (2400, )      0.745031   369582
9999              0.717146     7442

In [31]:
timecat2idx={k:v for v,k in enumerate(sorted(df.time_category.unique()))}
df['time_category'] = df.time_category.map(timecat2idx)
df.time_category.value_counts()

4    1008903
5     552226
8     369582
1     364747
3     102204
2      69176
6      27384
7      16756
0       8280
9       7442
Name: time_category, dtype: int64

In [35]:
df[:10][['userID','time_category']]

   userID  time_category
0       0              9
1       0              1
2       0              3
3       0              2
4       0              2
5       0              4
6       0              8
7       0              2
8       0              5
9       0              4

In [37]:
df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,Timestamp2,solvetime,solvesec,solvesec_3600,...,tag_std,tag_sum,kind,solvesec_3600_2,solvesec_3200_2,solvesec_2400_2,solvesec_1800_2,solvesec_1200_2,solvesec_800_2,solvesec_600_2
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,2020-03-24 00:17:11,NaT,NaN,0.0,...,0.207410,637,train,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,2020-03-24 00:17:14,0 days 00:00:03,3.0,3.0,...,0.281603,3040,train,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,2020-03-24 00:17:22,0 days 00:00:08,8.0,8.0,...,0.281603,3040,train,8.0,8.0,8.0,8.0,8.0,8.0,8.0
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,2020-03-24 00:17:29,0 days 00:00:07,7.0,7.0,...,0.281603,3040,train,7.0,7.0,7.0,7.0,7.0,7.0,7.0
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,2020-03-24 00:17:36,0 days 00:00:07,7.0,7.0,...,0.281603,3040,train,7.0,7.0,7.0,7.0,7.0,7.0,7.0
5,0,A060001007,A060000001,1,2020-03-24 00:17:47,7225,2020-03-24 00:17:47,0 days 00:00:11,11.0,11.0,...,0.281603,3040,train,11.0,11.0,11.0,11.0,11.0,11.0,11.0
6,0,A060003001,A060000003,0,2020-03-26 05:52:03,7226,2020-03-26 05:52:03,2 days 05:34:16,192856.0,3600.0,...,0.400380,3570,train,3600.0,3200.0,2400.0,1800.0,1200.0,800.0,600.0
7,0,A060003002,A060000003,1,2020-03-26 05:52:10,7226,2020-03-26 05:52:10,0 days 00:00:07,7.0,7.0,...,0.400380,3570,train,7.0,7.0,7.0,7.0,7.0,7.0,7.0
8,0,A060003003,A060000003,1,2020-03-26 05:53:14,7226,2020-03-26 05:53:14,0 days 00:01:04,64.0,64.0,...,0.400380,3570,train,64.0,64.0,64.0,64.0,64.0,64.0,64.0
9,0,A060003004,A060000003,1,2020-03-26 05:53:29,7226,2020-03-26 05:53:29,0 days 00:00:15,15.0,15.0,...,0.400380,3570,train,15.0,15.0,15.0,15.0,15.0,15.0,15.0
10,0,A060003005,A060000003,1,2020-03-26 05:53:48,7226,2020-03-26 05:53:48,0 days 00:00:19,19.0,19.0,...,0.400380,3570,train,19.0,19.0,19.0,19.0,19.0,19.0,19.0
11,0,A060003006,A060000003,1,2020-03-26 05:53:55,7226,2020-03-26 05:53:55,0 days 00:00:07,7.0,7.0,...,0.400380,3570,train,7.0,7.0,7.0,7.0,7.0,7.0,7.0
12,0,A060003007,A060000003,1,2020-03-26 05:54:11,7226,2020-03-26 05:54:11,0 days 00:00:16,16.0,16.0,...,0.400380,3570,train,16.0,16.0,16.0,16.0,16.0,16.0,16.0
13,0,A060005001,A060000005,1,2020-03-31 05:02:52,7227,2020-03-31 05:02:52,4 days 23:08:41,428921.0,3600.0,...,0.386179,1086,train,3600.0,3200.0,2400.0,1800.0,1200.0,800.0,600.0
14,0,A060005002,A060000005,1,2020-03-31 05:03:04,7228,2020-03-31 05:03:04,0 days 00:00:12,12.0,12.0,...,0.378648,2560,train,12.0,12.0,12.0,12.0,12.0,12.0,12.0
15,0,A060005003,A060000005,1,2020-03-31 05:03:11,7228,2020-03-31 05:03:11,0 days 00:00:07,7.0,7.0,...,0.378648,2560,train,7.0,7.0,7.0,7.0,7.0,7.0,7.0
16,0,A060005004,A060000005,1,2020-03-31 05:03:26,7228,2020-03-31 05:03:26,0 days 00:00:15,15.0,15.0,...,0.378648,2560,train,15.0,15.0,15.0,15.0,15.0,15.0,15.0
17,0,A060005005,A060000005,1,2020-03-31 05:03:36,7228,2020-03-31 05:03:36,0 days 00:00:10,10.0,10.0,...,0.378648,2560,train,10.0,10.0,10.0,10.0,10.0,10.0,10.0
18,0,A060005006,A060000005,0,2020-03-31 05:05:14,7227,2020-03-31 05:05:14,0 days 00:01:38,98.0,98.0,...,0.386179,1086,train,98.0,98.0,98.0,98.0,98.0,98.0,98.0
19,0,A060005007,A060000005,1,2020-03-31 05:05:48,7228,2020-03-31 05:05:48,0 days 00:00:34,34.0,34.0,...,0.378648,2560,train,34.0,34.0,34.0,34.0,34.0,34.0,34.0
20,0,A060007001,A060000007,1,2020-04-02 04:53:37,7229,2020-04-02 04:53:37,1 days 23:47:49,172069.0,3600.0,...,0.450674,3020,train,3600.0,3200.0,2400.0,1800.0,1200.0,800.0,600.0
21,0,A060007002,A060000007,1,2020-04-02 04:53:46,7229,2020-04-02 04:53:46,0 days 00:00:09,9.0,9.0,...,0.450674,3020,train,9.0,9.0,9.0,9.0,9.0,9.0,9.0
22,0,A060007003,A060000007,1,2020-04-02 04:54:04,7229,2020-04-02 04:54:04,0 days 00:00:18,18.0,18.0,...,0.450674,3020,train,18.0,18.0,18.0,18.0,18.0,18.0,18.0
23,0,A060007004,A060000007,1,2020-04-02 04:58:56,7229,2020-04-02 04:58:56,0 days 00:04:52,292.0,292.0,...,0.450674,3020,train,292.0,292.0,292.0,292.0,292.0,292.0,292.0
24,0,A060007005,A060000007,1,2020-04-02 05:00:32,7229,2020-04-02 05:00:32,0 days 00:01:36,96.0,96.0,...,0.450674,3020,train,96.0,96.0,96.0,96.0,96.0,96.0,96.0
25,0,A060007006,A060000007,1,2020-04-02 05:01:05,7229,2020-04-02 05:01:05,0 days 00:00:33,33.0,33.0,...,0.450674,3020,train,33.0,33.0,33.0,33.0,33.0,33.0,33.0
26,0,A060007007,A060000007,1,2020-04-02 05:04:08,7229,2020-04-02 05:04:08,0 days 00:03:03,183.0,183.0,...,0.450674,3020,train,183.0,183.0,183.0,183.0,183.0,183.0,183.0
27,0,A080002001,A080000002,1,2020-04-06 00:35:01,4605,2020-04-06 00:35:01,3 days 19:30:53,329453.0,3600.0,...,0.377510,184,train,3600.0,3200.0,2400.0,1800.0,1200.0,800.0,600.0
28,0,A080002002,A080000002,1,2020-04-06 00:35:42,1394,2020-04-06 00:35:42,0 days 00:00:41,41.0,41.0,...,0.476065,382,train,41.0,41.0,41.0,41.0,41.0,41.0,41.0
29,0,A080002003,A080000002,1,2020-04-06 00:37:46,1396,2020-04-06 00:37:46,0 days 00:02:04,124.0,124.0,...,0.448617,838,train,124.0,124.0,124.0,124.0,124.0,124.0,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2526670,7439,A040197006,A040000197,1,2020-08-21 07:39:45,2132,2020-08-21 07:39:45,0 days 00:00:05,5.0,5.0,...,0.471632,279,test,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2526671,7439,A040130001,A040000130,0,2020-10-14 23:07:23,8832,2020-10-14 23:07:23,54 days 15:27:38,4721258.0,3600.0,...,0.499618,193,test,3600.0,3200.0,2400.0,1800.0,1200.0,800.0,600.0
2526672,7439,A040130002,A040000130,1,2020-10-14 23:07:41,8832,2020-10-14 23:07:41,0 days 00:00:18,18.0,18.0,...,0.499618,193,test,18.0,18.0,18.0,18.0,18.0,18.0,18.0
2526673,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244,2020-10-14 23:08:02,0 days 00:00:21,21.0,21.0,...,0.476214,111,test,21.0,21.0,21.0,21.0,21.0,21.0,21.0
2526674,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244,2020-10-14 23:09:31,0 days 00:01:29,89.0,89.0,...,0.476214,111,test,89.0,89.0,89.0,89.0,89.0,89.0,89.0
2526675,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832,2020-10-14 23:10:03,0 days 00:00:32,32.0,32.0,...,0.499618,193,test,32.0,32.0,32.0,32.0,32.0,32.0,32.0
2526676,7440,A050096001,A050000096,1,2020-08-19 04:57:19,5267,2020-08-19 04:57:19,NaT,NaN,0.0,...,0.412545,1239,train,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2526677,7440,A050096002,A050000096,0,2020-08-19 04:58:04,10313,2020-08-19 04:58:04,0 days 00:00:45,45.0,45.0,...,0.428829,1027,train,45.0,45.0,45.0,45.0,45.0,45.0,45.0
2526678,7440,A050096005,A050000096,0,2020-08-19 04:58:17,5267,2020-08-19 04:58:17,0 days 00:00:13,13.0,13.0,...,0.412545,1239,train,13.0,13.0,13.0,13.0,13.0,13.0,13.0
2526679,7440,A050096004,A050000096,1,2020-08-19 04:58:27,5267,2020-08-19 04:58:27,0 days 00:00:10,10.0,10.0,...,0.412545,1239,train,10.0,10.0,10.0,10.0,10.0,10.0,10.0
2526680,7440,A050096003,A050000096,0,2020-08-19 04:58:52,10328,2020-08-19 04:58:52,0 days 00:00:25,25.0,25.0,...,0.405650,1081,train,25.0,25.0,25.0,25.0,25.0,25.0,25.0
2526681,7440,A030136001,A030000136,1,2020-09-23 09:19:35,7691,2020-09-23 09:19:35,35 days 04:20:43,3039643.0,3600.0,...,0.476062,1958,train,3600.0,3200.0,2400.0,1800.0,1200.0,800.0,600.0
2526682,7440,A030136002,A030000136,1,2020-09-23 09:20:22,7690,2020-09-23 09:20:22,0 days 00:00:47,47.0,47.0,...,0.385337,1793,train,47.0,47.0,47.0,47.0,47.0,47.0,47.0
2526683,7440,A030136003,A030000136,1,2020-09-23 09:21:38,7691,2020-09-23 09:21:38,0 days 00:01:16,76.0,76.0,...,0.476062,1958,train,76.0,76.0,76.0,76.0,76.0,76.0,76.0
2526684,7440,A030136004,A030000136,0,2020-09-23 09:21:43,7691,2020-09-23 09:21:43,0 days 00:00:05,5.0,5.0,...,0.476062,1958,train,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2526685,7440,A030136005,A030000136,0,2020-09-23 09:21:53,7691,2020-09-23 09:21:53,0 days 00:00:10,10.0,10.0,...,0.476062,1958,train,10.0,10.0,10.0,10.0,10.0,10.0,10.0
2526686,7440,A030197001,A030000197,1,2020-10-21 08:31:45,1984,2020-10-21 08:31:45,27 days 23:09:52,2416192.0,3600.0,...,0.433304,2039,train,3600.0,3200.0,2400.0,1800.0,1200.0,800.0,600.0
2526687,7440,A030197002,A030000197,0,2020-10-21 08:32:46,1984,2020-10-21 08:32:46,0 days 00:01:01,61.0,61.0,...,0.433304,2039,train,61.0,61.0,61.0,61.0,61.0,61.0,61.0
2526688,7440,A030197003,A030000197,0,2020-10-21 08:33:15,1984,2020-10-21 08:33:15,0 days 00:00:29,29.0,29.0,...,0.433304,2039,train,29.0,29.0,29.0,29.0,29.0,29.0,29.0
2526689,7440,A030197004,A030000197,0,2020-10-21 08:33:17,1984,2020-10-21 08:33:17,0 days 00:00:02,2.0,2.0,...,0.433304,2039,train,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2526690,7440,A030197005,A030000197,0,2020-10-21 08:33:20,1984,2020-10-21 08:33:20,0 days 00:00:03,3.0,3.0,...,0.433304,2039,train,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2526691,7441,A030071001,A030000071,0,2020-06-05 06:46:41,438,2020-06-05 06:46:41,NaT,NaN,0.0,...,0.462671,2814,train,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2526692,7441,A030071002,A030000071,0,2020-06-05 06:48:43,438,2020-06-05 06:48:43,0 days 00:02:02,122.0,122.0,...,0.462671,2814,train,122.0,122.0,122.0,122.0,122.0,122.0,122.0
2526693,7441,A030071003,A030000071,1,2020-06-05 06:49:23,438,2020-06-05 06:49:23,0 days 00:00:40,40.0,40.0,...,0.462671,2814,train,40.0,40.0,40.0,40.0,40.0,40.0,40.0
2526694,7441,A030071004,A030000071,0,2020-06-05 06:49:57,438,2020-06-05 06:49:57,0 days 00:00:34,34.0,34.0,...,0.462671,2814,train,34.0,34.0,34.0,34.0,34.0,34.0,34.0
2526695,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438,2020-06-05 06:50:21,0 days 00:00:24,24.0,24.0,...,0.462671,2814,train,24.0,24.0,24.0,24.0,24.0,24.0,24.0
2526696,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836,2020-08-21 01:06:39,76 days 18:16:18,6632178.0,3600.0,...,0.459253,2199,train,3600.0,3200.0,2400.0,1800.0,1200.0,800.0,600.0
2526697,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836,2020-08-21 01:06:50,0 days 00:00:11,11.0,11.0,...,0.459253,2199,train,11.0,11.0,11.0,11.0,11.0,11.0,11.0
2526698,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,2020-08-21 01:07:36,0 days 00:00:46,46.0,46.0,...,0.459253,2199,train,46.0,46.0,46.0,46.0,46.0,46.0,46.0
2526699,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,2020-08-21 01:08:49,0 days 00:01:13,73.0,73.0,...,0.459253,2199,train,73.0,73.0,73.0,73.0,73.0,73.0,73.0

In [36]:
df2 = df.drop(['Timestamp2','solvetime'],axis=1)
export(df2, output='after_fe_train_test_solvetime2.pkl')

Write: /opt/ml/input/data/after_fe_train_test_solvetime2.pkl