In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
plt.style.use('seaborn')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
pd.set_option('display.min_rows', 500)
import warnings
warnings.filterwarnings('ignore')

def concat_and_export(train_fe, test_fe):
    
    train_fe['kind']='train'
    test_fe['kind']='test'
    
    df = pd.concat([train_fe,test_fe])
    data_dir = '/opt/ml/input/data' # 경로
    write_path=f'{data_dir}/after_fe_train_test_cumsum.pkl'
    df.to_pickle(write_path,index=False)
    print(f"Write: {write_path}")
    
def export(df, output='after_fe_train_test.pkl'):
    data_dir = '/opt/ml/input/data' # 경로
    write_path=f'{data_dir}/{output}'
    df.to_pickle(write_path)
    print(f"Write: {write_path}")
    
path='../../data/'
train = pd.read_csv(f"{path}/train_data.csv")
test = pd.read_csv(f"{path}/test_data.csv")
sub = pd.read_csv(f"{path}/sample_submission.csv")

In [2]:
day_dict = {'Tuesday': 0,
 'Thursday': 1,
 'Monday': 2,
 'Saturday': 3,
 'Friday': 4,
 'Wednesday': 5,
 'Sunday': 6}

def feature_engineering(df):
    df2 = df.copy()
    #유저별 시퀀스를 고려하기 위해 아래와 같이 정렬
    df2.sort_values(by=['userID','Timestamp'], inplace=True)
    
    #유저들의 문제 풀이수, 정답 수, 정답률을 시간순으로 누적해서 계산
    df2['user_correct_answer'] = df2.groupby('userID')['answerCode'].transform(lambda x: x.cumsum().shift(1))
    df2['user_total_answer'] = df2.groupby('userID')['answerCode'].cumcount()
    df2['user_acc'] = df2['user_correct_answer']/df2['user_total_answer']
    df2['month'] = pd.to_datetime(df2.Timestamp).dt.month
    df2['day'] = pd.to_datetime(df2.Timestamp).dt.day
    df2['hour'] = pd.to_datetime(df2.Timestamp).dt.hour
    df2['dayname'] = pd.to_datetime(df2.Timestamp).dt.day_name().map(day_dict)
    df2['big_category'] = df2.testId.map(lambda x:x[2]).astype(int)
    df2['problem_num'] = df2.assessmentItemID.map(lambda x: int(x[-3:]))
    df2['mid_category'] = df2.testId.map(lambda x: int(x[-3:]))

    # testId와 KnowledgeTag의 전체 정답률은 한번에 계산
    # 아래 데이터는 제출용 데이터셋에 대해서도 재사용
    correct_t = df2.groupby(['testId'])['answerCode'].agg(['mean', 'std', 'sum'])
    correct_t.columns = ["test_mean", "test_std", 'test_sum']
    correct_k = df2.groupby(['KnowledgeTag'])['answerCode'].agg(['mean', 'std', 'sum'])
    correct_k.columns = ["tag_mean", 'tag_std', 'tag_sum']

    df2 = pd.merge(df2, correct_t, on=['testId'], how="left")
    df2 = pd.merge(df2, correct_k, on=['KnowledgeTag'], how="left")
    
    # 유저별 문제푼 시간, solvesec_3600, time_category
    df2['Timestamp2'] = pd.to_datetime(df2.Timestamp)
    df2['solvetime'] = df2.groupby('userID')['Timestamp2'].diff().fillna(pd.Timedelta(seconds=0))
    df2['solvesec'] = df2.solvetime.map(lambda x : x.total_seconds())
    df2['solvesec_3600'] = df2.solvesec
    df2.loc[df2.solvesec>=3600,'solvesec_3600']=3600

    df2['time_category'] = ''
    tc = [0,5,7,10,60,600,1200,2400,3600]
    df2.loc[(df2.solvesec==0), 'time_category'] = "0 - [0,0]"
    for i in range(len(tc)-1):
        s,e = tc[i],tc[i+1]
        df2.loc[(df2.solvesec>s) & (df2.solvesec<=e),'time_category']=f"{i+1} - ({s}, {e}]"
    df2.loc[(df2.solvesec>=tc[-1]),'time_category'] = f"{i+2} - ({e}, )"
    timecat2idx={k:v for v,k in enumerate(sorted(df2.time_category.unique()))}
    df2['time_category'] = df2.time_category.map(timecat2idx)
    
    return df2

In [3]:
train_fe = feature_engineering(train)
test_fe = feature_engineering(test)
train_fe.shape, test_fe.shape

((2266586, 27), (260114, 27))

In [4]:
train_fe['kind']='train'
test_fe['kind']='test'
df = pd.concat([train_fe,test_fe])

In [5]:
df[:3]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,user_correct_answer,user_total_answer,user_acc,month,...,test_sum,tag_mean,tag_std,tag_sum,Timestamp2,solvetime,solvesec,solvesec_3600,time_category,kind
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,NaN,0,NaN,3,...,1268,0.955022,0.207410,637,2020-03-24 00:17:11,0 days 00:00:00,0.0,0.0,0,train
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1.0,1,1.0,3,...,1268,0.913187,0.281603,3040,2020-03-24 00:17:14,0 days 00:00:03,3.0,3.0,1,train
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,2.0,2,1.0,3,...,1268,0.913187,0.281603,3040,2020-03-24 00:17:22,0 days 00:00:08,8.0,8.0,3,train

In [37]:
df['solvesec_cumsum'] = df.groupby(['userID','testId'])['solvesec_3600'].cumsum()%3601

In [53]:
df['solvesec_cumsum2'] = df.groupby(['userID','testId'])['solvesec_3600'].cumsum()%3600

In [38]:
df.solvesec_cumsum.describe()

count    2.526700e+06
mean     7.900849e+02
std      1.247025e+03
min      0.000000e+00
25%      4.900000e+01
50%      1.670000e+02
75%      7.030000e+02
max      3.600000e+03
Name: solvesec_cumsum, dtype: float64

In [41]:
df['solvecumsum_category'] = ''
tc = [0,5,7,10,60,600,1200,2400,3600,7200]
df.loc[(df.solvesec_cumsum==0), 'solvecumsum_category'] = "0 - [0,0]"
print(0)
for i in range(len(tc)-1):
    s,e = tc[i],tc[i+1]
    df.loc[(df.solvesec_cumsum>s) & (df.solvesec_cumsum<=e),'solvecumsum_category']=f"{i+1} - ({s}, {e}]"
    print(s,e)
df.loc[(df.solvesec_cumsum>=tc[-1]),'solvecumsum_category'] = f"{i+2} - ({e}, )"
print(e)

0
0 5
5 7
7 10
10 60
60 600
600 1200
1200 2400
2400 3600
3600 7200
7200

In [42]:
time_grp = df.groupby('solvecumsum_category')['answerCode'].agg(['mean','count'])
time_grp['C'] = time_grp.index.str.extract(r'(\d+)').astype(int)[0].tolist()
time_grp.sort_values('C')[['mean','count']]

                          mean    count
solvecumsum_category
0 - [0,0]             0.479131    14735
1 - (0, 5]            0.275780    90895
2 - (5, 7]            0.395883    40224
3 - (7, 10]           0.442350    59003
4 - (10, 60]          0.646462   515006
5 - (60, 600]         0.684740  1129444
6 - (600, 1200]       0.648981   168475
7 - (1200, 2400]      0.638723   108947
8 - (2400, 3600]      0.733706   399971

In [44]:
df[df.time_category==0]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,user_correct_answer,user_total_answer,user_acc,month,...,time_category,test_mean,test_std,test_sum,tag_mean,tag_std,tag_sum,kind,solvesec_cumsum,solvecumsum_category
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,NaN,0,NaN,3,...,0,0.947683,0.222749,1268,0.955022,0.207410,637,train,0.0,"0 - [0,0]"
123,0,A080016008,A080000016,0,2020-05-07 00:52:47,4672,88.0,123,0.715447,5,...,0,0.602778,0.489549,651,0.432649,0.495554,970,train,321.0,"5 - (60, 600]"
146,0,A080020006,A080000020,0,2020-05-14 01:35:29,4673,102.0,146,0.698630,5,...,0,0.612500,0.487414,637,0.439641,0.496483,783,train,519.0,"5 - (60, 600]"
263,0,A080039002,A080000039,0,2020-06-11 02:02:22,4688,170.0,263,0.646388,6,...,0,0.533046,0.499266,371,0.376241,0.484512,1289,train,18.0,"4 - (10, 60]"
469,0,A080078008,A080000078,0,2020-08-29 00:26:11,23,289.0,469,0.616205,8,...,0,0.691576,0.462157,509,0.584444,0.492954,1052,train,41.0,"4 - (10, 60]"
553,0,A080090002,A080000090,1,2020-09-18 20:13:07,1110,344.0,553,0.622061,9,...,0,0.739130,0.439907,204,0.570035,0.495114,3272,train,258.0,"5 - (60, 600]"
556,0,A080092002,A080000092,1,2020-09-22 18:57:09,1110,346.0,556,0.622302,9,...,0,0.755435,0.430414,278,0.570035,0.495114,3272,train,47.0,"4 - (10, 60]"
559,0,A080092008,A080000092,1,2020-09-22 19:02:06,1110,348.0,559,0.622540,9,...,0,0.755435,0.430414,278,0.570035,0.495114,3272,train,344.0,"5 - (60, 600]"
745,1,A040013001,A040000013,1,2020-01-06 08:40:43,2048,NaN,0,NaN,1,...,0,0.595472,0.490986,789,0.616900,0.486297,971,train,0.0,"0 - [0,0]"
1678,2,A030050001,A030000050,1,2020-01-10 11:02:53,407,NaN,0,NaN,1,...,0,0.771212,0.420212,1018,0.766520,0.423094,3306,train,0.0,"0 - [0,0]"
1954,5,A080001001,A080000001,1,2020-02-12 20:00:20,4604,NaN,0,NaN,2,...,0,0.638734,0.480479,1372,0.489777,0.500128,527,train,0.0,"0 - [0,0]"
1959,5,A080001006,A080000001,1,2020-02-12 20:03:07,1395,5.0,5,1.000000,2,...,0,0.638734,0.480479,1372,0.513043,0.499951,1062,train,167.0,"5 - (60, 600]"
1987,5,A080009004,A080000009,1,2020-02-26 19:25:32,4661,30.0,33,0.909091,2,...,0,0.472067,0.499306,1352,0.552075,0.497375,1463,train,72.0,"5 - (60, 600]"
1991,5,A080009008,A080000009,1,2020-02-26 19:26:31,4659,34.0,37,0.918919,2,...,0,0.472067,0.499306,1352,0.512866,0.500056,578,train,131.0,"5 - (60, 600]"
1999,5,A080011007,A080000011,0,2020-02-28 20:07:30,4669,41.0,45,0.911111,2,...,0,0.521814,0.499610,1507,0.468662,0.499118,1159,train,296.0,"5 - (60, 600]"
2022,5,A080017007,A080000017,1,2020-03-11 19:18:39,4672,61.0,68,0.897059,3,...,0,0.483333,0.499809,1392,0.432649,0.495554,970,train,240.0,"5 - (60, 600]"
2067,5,A080027008,A080000027,1,2020-04-01 18:26:50,4686,100.0,113,0.884956,4,...,0,0.421107,0.493821,1233,0.465150,0.498856,1615,train,483.0,"5 - (60, 600]"
2075,5,A080028007,A080000028,0,2020-04-03 18:50:19,4687,107.0,121,0.884298,4,...,0,0.373292,0.483761,1093,0.400733,0.490122,1312,train,753.0,"6 - (600, 1200]"
2083,5,A080029008,A080000029,1,2020-04-08 18:42:25,4688,113.0,129,0.875969,4,...,0,0.352961,0.477973,1025,0.376241,0.484512,1289,train,831.0,"6 - (600, 1200]"
2111,5,A080033008,A080000033,1,2020-04-22 21:26:18,4795,133.0,157,0.847134,4,...,0,0.405220,0.491019,1180,0.479345,0.499631,2077,train,382.0,"5 - (60, 600]"
2119,5,A080034007,A080000034,1,2020-04-24 19:24:42,4801,140.0,165,0.848485,4,...,0,0.459599,0.498451,1331,0.533186,0.499450,241,train,379.0,"5 - (60, 600]"
2168,5,A080053005,A080000053,1,2020-05-13 18:23:49,4969,181.0,214,0.845794,5,...,0,0.396235,0.489227,863,0.546053,0.498148,498,train,242.0,"5 - (60, 600]"
2206,5,A080061006,A080000061,0,2020-05-27 18:42:42,4967,213.0,252,0.845238,5,...,0,0.416436,0.493081,902,0.437135,0.496081,2246,train,109.0,"5 - (60, 600]"
2270,5,A080075007,A080000075,1,2020-06-19 20:07:05,4979,267.0,316,0.844937,6,...,0,0.365411,0.481628,1067,0.438648,0.496295,1480,train,1958.0,"7 - (1200, 2400]"
2309,5,A010060003,A010000060,1,2020-07-13 10:55:00,7600,292.0,355,0.822535,7,...,0,0.829758,0.375931,1818,0.780417,0.413983,8377,train,0.0,"0 - [0,0]"
2311,5,A010060005,A010000060,0,2020-07-13 10:55:01,7597,294.0,357,0.823529,7,...,0,0.829758,0.375931,1818,0.827567,0.377771,10669,train,1.0,"1 - (0, 5]"
2671,5,A080122005,A080000122,1,2020-11-26 00:24:49,1203,580.0,717,0.808926,11,...,0,0.517177,0.499821,1114,0.543343,0.498204,1567,train,460.0,"5 - (60, 600]"
2725,5,A080129001,A080000129,1,2020-12-03 22:16:41,2723,625.0,771,0.810636,12,...,0,0.360111,0.480143,780,0.476454,0.499792,344,train,827.0,"6 - (600, 1200]"
2786,5,A080138007,A080000138,1,2020-12-11 22:48:28,8431,662.0,832,0.795673,12,...,0,0.504405,0.500118,916,0.491346,0.500166,511,train,49.0,"4 - (10, 60]"
2787,6,A030016001,A030000016,1,2020-03-09 10:48:28,7307,NaN,0,NaN,3,...,0,0.800373,0.399844,1287,0.852735,0.354411,3648,train,0.0,"0 - [0,0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259540,7192,A080135003,A080000135,0,2020-12-24 00:51:49,8424,21.0,27,0.777778,12,...,0,0.434375,0.561631,139,0.506250,0.501531,81,test,1.0,"1 - (0, 5]"
259546,7193,A090031001,A090000031,1,2020-05-14 09:28:02,4234,NaN,0,NaN,5,...,0,0.509259,0.502245,55,0.509259,0.502245,55,test,0.0,"0 - [0,0]"
259564,7198,A020025001,A020000025,1,2020-06-22 06:20:03,7916,NaN,0,NaN,6,...,0,0.714286,0.452798,155,0.731922,0.443349,415,test,0.0,"0 - [0,0]"
259588,7202,A020042001,A020000042,0,2020-05-07 23:30:01,7926,NaN,0,NaN,5,...,0,0.633333,0.483239,114,0.624113,0.484781,352,test,0.0,"0 - [0,0]"
259607,7216,A020184001,A020000184,1,2020-08-20 14:12:33,8092,NaN,0,NaN,8,...,0,0.584615,0.496623,38,0.604027,0.490708,90,test,0.0,"0 - [0,0]"
259623,7220,A050002001,A050000002,1,2020-03-02 03:40:01,2615,NaN,0,NaN,3,...,0,0.723810,0.448181,152,0.733198,0.442739,360,test,0.0,"0 - [0,0]"
259660,7228,A030133001,A030000133,0,2020-08-26 23:54:30,7818,NaN,0,NaN,8,...,0,0.515385,0.501697,67,0.522353,0.509434,222,test,0.0,"0 - [0,0]"
259681,7234,A080008001,A080000008,1,2020-03-03 03:29:13,4673,NaN,0,NaN,3,...,0,0.709821,0.454861,159,0.392694,0.489468,86,test,0.0,"0 - [0,0]"
259710,7242,A040116001,A040000116,1,2020-09-12 00:33:29,2099,NaN,0,NaN,9,...,0,0.740909,0.459461,163,0.594306,0.498664,334,test,0.0,"0 - [0,0]"
259734,7247,A040180002,A040000180,0,2020-05-22 05:57:49,2127,NaN,0,NaN,5,...,0,0.650000,0.478467,104,0.676471,0.468685,184,test,0.0,"0 - [0,0]"
259762,7248,A040116001,A040000116,1,2020-09-01 04:41:36,2099,NaN,0,NaN,9,...,0,0.740909,0.459461,163,0.594306,0.498664,334,test,0.0,"0 - [0,0]"
259779,7253,A010093001,A010000093,0,2020-06-10 05:43:36,6557,NaN,0,NaN,6,...,0,0.772093,0.420461,166,0.766372,0.423513,433,test,0.0,"0 - [0,0]"
259804,7259,A040091001,A040000091,1,2020-08-27 10:04:57,2093,NaN,0,NaN,8,...,0,0.793750,0.421093,127,0.704797,0.460586,382,test,0.0,"0 - [0,0]"
259830,7288,A020153001,A020000153,1,2020-04-16 11:03:21,8127,NaN,0,NaN,4,...,0,0.659259,0.506126,89,0.675615,0.477874,604,test,0.0,"0 - [0,0]"
259848,7293,A030088001,A030000088,1,2020-02-28 13:06:51,447,NaN,0,NaN,2,...,0,0.775758,0.418352,128,0.821978,0.382952,374,test,0.0,"0 - [0,0]"
259865,7308,A030112001,A030000112,1,2020-07-23 12:29:51,7636,NaN,0,NaN,7,...,0,0.787500,0.410361,126,0.834661,0.377186,419,test,0.0,"0 - [0,0]"
259886,7354,A010101001,A010000101,0,2020-09-21 12:07:59,6648,NaN,0,NaN,9,...,0,0.768750,0.422956,123,0.696864,0.463793,400,test,0.0,"0 - [0,0]"
259901,7363,A010093001,A010000093,1,2020-07-29 09:48:43,6557,NaN,0,NaN,7,...,0,0.772093,0.420461,166,0.766372,0.423513,433,test,0.0,"0 - [0,0]"
259922,7364,A040193001,A040000193,1,2020-08-21 12:00:58,2133,NaN,0,NaN,8,...,0,0.792000,0.426841,99,0.816327,0.408590,200,test,0.0,"0 - [0,0]"
259944,7368,A040002001,A040000002,1,2020-04-22 08:01:16,7271,NaN,0,NaN,4,...,0,0.864706,0.343048,147,0.855615,0.351793,480,test,0.0,"0 - [0,0]"
259961,7369,A040185001,A040000185,1,2020-09-01 04:36:34,2127,NaN,0,NaN,9,...,0,0.740260,0.458806,171,0.676471,0.468685,184,test,0.0,"0 - [0,0]"
259978,7373,A030150001,A030000150,1,2020-10-10 23:55:54,7823,NaN,0,NaN,10,...,0,0.640000,0.514311,80,0.710723,0.464876,285,test,0.0,"0 - [0,0]"
259993,7382,A020006001,A020000006,0,2020-01-15 12:44:46,7912,NaN,0,NaN,1,...,0,0.848780,0.359140,174,0.817376,0.386701,461,test,0.0,"0 - [0,0]"
260011,7392,A040085001,A040000085,1,2020-08-20 00:47:48,2092,NaN,0,NaN,8,...,0,0.726852,0.446611,157,0.683150,0.465675,373,test,0.0,"0 - [0,0]"
260029,7395,A030076001,A030000076,0,2020-07-10 06:36:14,475,NaN,0,NaN,7,...,0,0.688000,0.482199,86,0.739919,0.448228,367,test,0.0,"0 - [0,0]"
260042,7395,A070070009,A070000070,0,2020-07-30 03:25:50,6802,6.0,13,0.461538,7,...,0,0.473251,0.500314,115,0.411168,0.493299,81,test,44.0,"4 - (10, 60]"
260053,7404,A020124001,A020000124,1,2020-09-29 10:44:04,8018,NaN,0,NaN,9,...,0,0.691667,0.463741,83,0.718543,0.450456,217,test,0.0,"0 - [0,0]"
260068,7416,A080002001,A080000002,1,2020-01-10 02:06:14,4605,NaN,0,NaN,1,...,0,0.738095,0.440985,124,0.928571,0.262265,26,test,0.0,"0 - [0,0]"
260083,7417,A010093001,A010000093,0,2020-07-29 09:06:27,6557,NaN,0,NaN,7,...,0,0.772093,0.420461,166,0.766372,0.423513,433,test,0.0,"0 - [0,0]"
260098,7439,A040003001,A040000003,1,2020-01-14 08:38:16,7268,NaN,0,NaN,1,...,0,0.848649,0.359364,157,0.840000,0.366940,462,test,0.0,"0 - [0,0]"

In [45]:
solvecumsum_category2idx={k:v for v,k in enumerate(sorted(df.solvecumsum_category.unique()))}
df['solvecumsum_category'] = df.solvecumsum_category.map(solvecumsum_category2idx)
df.solvecumsum_category.value_counts()

5    1129444
4     515006
8     399971
6     168475
7     108947
1      90895
3      59003
2      40224
0      14735
Name: solvecumsum_category, dtype: int64

In [46]:
df[:3]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,user_correct_answer,user_total_answer,user_acc,month,...,time_category,test_mean,test_std,test_sum,tag_mean,tag_std,tag_sum,kind,solvesec_cumsum,solvecumsum_category
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,NaN,0,NaN,3,...,0,0.947683,0.222749,1268,0.955022,0.207410,637,train,0.0,0
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1.0,1,1.0,3,...,1,0.947683,0.222749,1268,0.913187,0.281603,3040,train,3.0,1
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,2.0,2,1.0,3,...,3,0.947683,0.222749,1268,0.913187,0.281603,3040,train,11.0,4

In [55]:
df.solvesec_cumsum2.describe()

count    2.526700e+06
mean     2.901079e+02
std      5.412119e+02
min      0.000000e+00
25%      1.600000e+01
50%      9.000000e+01
75%      2.820000e+02
max      3.599000e+03
Name: solvesec_cumsum2, dtype: float64

In [54]:
df2 = df.copy()
export(df2, output='after_fe_train_test_cumsum.pkl')

Write: /opt/ml/input/data/after_fe_train_test_cumsum.pkl

In [56]:
df[df.userID==7331][['userID','assessmentItemID','testId','answerCode','user_correct_answer','user_total_answer','user_acc']]

,userID,assessmentItemID,testId,answerCode,user_correct_answer,user_total_answer,user_acc
2264881,7331,A060130001,A060000130,1,NaN,0,NaN
2264882,7331,A060130002,A060000130,0,1.0,1,1.000000
2264883,7331,A060130003,A060000130,1,1.0,2,0.500000
2264884,7331,A060130004,A060000130,0,2.0,3,0.666667
2264885,7331,A060130005,A060000130,0,2.0,4,0.500000
2264886,7331,A060130006,A060000130,1,2.0,5,0.400000
2264887,7331,A060130007,A060000130,1,3.0,6,0.500000
2264888,7331,A020118001,A020000118,1,4.0,7,0.571429
2264889,7331,A020118002,A020000118,1,5.0,8,0.625000
2264890,7331,A020118003,A020000118,0,6.0,9,0.666667
2264891,7331,A020118004,A020000118,1,6.0,10,0.600000
2264892,7331,A020118005,A020000118,1,7.0,11,0.636364
2264893,7331,A080130001,A080000130,1,8.0,12,0.666667
2264894,7331,A080130002,A080000130,1,9.0,13,0.692308
2264895,7331,A080130003,A080000130,1,10.0,14,0.714286
2264896,7331,A080130004,A080000130,1,11.0,15,0.733333
2264897,7331,A080130005,A080000130,0,12.0,16,0.750000
2264898,7331,A080130006,A080000130,0,12.0,17,0.705882
2264899,7331,A080130007,A080000130,0,12.0,18,0.666667
2264900,7331,A080130008,A080000130,0,12.0,19,0.631579