In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
plt.style.use('seaborn')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
pd.set_option('display.min_rows', 500)
import warnings
warnings.filterwarnings('ignore')

def concat_and_export(train_fe, test_fe):
    
    train_fe['kind']='train'
    test_fe['kind']='test'
    
    df = pd.concat([train_fe,test_fe])
    data_dir = '/opt/ml/input/data' # 경로
    write_path=f'{data_dir}/after_fe_train_test.pkl'
    df.to_pickle(write_path)
    print(f"Write: {write_path}")
    
def export(df):
    data_dir = '/opt/ml/input/data' # 경로
    write_path=f'{data_dir}/after_fe_train_test.pkl'
    df.to_pickle(write_path)
    print(f"Write: {write_path}")
    
path='../../data/'
train = pd.read_csv(f"{path}/train_data.csv")
test = pd.read_csv(f"{path}/test_data.csv")
sub = pd.read_csv(f"{path}/sample_submission.csv")

day_dict = {'Tuesday': 0,
 'Thursday': 1,
 'Monday': 2,
 'Saturday': 3,
 'Friday': 4,
 'Wednesday': 5,
 'Sunday': 6}

def feature_engineering(df):
    df2 = df.copy()
    #유저별 시퀀스를 고려하기 위해 아래와 같이 정렬
    df2.sort_values(by=['userID','Timestamp'], inplace=True)
    
    # 유저별 문제푼 시간, solvesec_3600, time_category
    df2['Timestamp2'] = pd.to_datetime(df2.Timestamp)
    df2['solvetime'] = df2.groupby('userID')['Timestamp2'].diff().fillna(pd.Timedelta(seconds=0))
    df2['solvesec'] = df2.solvetime.map(lambda x : x.total_seconds())
    df2['solvesec_3600'] = df2.solvesec
    df2.loc[df2.solvesec>=3600,'solvesec_3600']=3600

    df2['time_category'] = ''
    tc = [0,5,7,10,60,600,1200,2400,3600]
    df2.loc[(df2.solvesec==0), 'time_category'] = "0 - [0,0]"
    for i in range(len(tc)-1):
        s,e = tc[i],tc[i+1]
        df2.loc[(df2.solvesec>s) & (df2.solvesec<=e),'time_category']=f"{i+1} - ({s}, {e}]"
    df2.loc[(df2.solvesec>=tc[-1]),'time_category'] = f"{i+2} - ({e}, )"
    timecat2idx={k:v for v,k in enumerate(sorted(df2.time_category.unique()))}
    df2['time_category'] = df2.time_category.map(timecat2idx)
    
    
    
    #유저들의 문제 풀이수, 정답 수, 정답률을 시간순으로 누적해서 계산
    df2['user_correct_answer'] = df2.groupby('userID')['answerCode'].transform(lambda x: x.cumsum().shift(1))
    df2['user_total_answer'] = df2.groupby('userID')['answerCode'].cumcount()
    df2['user_acc'] = df2['user_correct_answer']/df2['user_total_answer']
    df2['month'] = pd.to_datetime(df2.Timestamp).dt.month
    df2['day'] = pd.to_datetime(df2.Timestamp).dt.day
    df2['hour'] = pd.to_datetime(df2.Timestamp).dt.hour
    df2['dayname'] = pd.to_datetime(df2.Timestamp).dt.day_name().map(day_dict)
    df2['big_category'] = df2.testId.map(lambda x:x[2]).astype(int)
    df2['problem_num'] = df2.assessmentItemID.map(lambda x: int(x[-3:]))
    df2['mid_category'] = df2.testId.map(lambda x: int(x[-3:]))

    # testId와 KnowledgeTag의 전체 정답률은 한번에 계산
    # 아래 데이터는 제출용 데이터셋에 대해서도 재사용
    correct_t = df2.groupby(['testId'])['answerCode'].agg(['mean', 'std', 'sum'])
    correct_t.columns = ["test_mean", "test_std", 'test_sum']
    correct_k = df2.groupby(['KnowledgeTag'])['answerCode'].agg(['mean', 'std', 'sum'])
    correct_k.columns = ["tag_mean", 'tag_std', 'tag_sum']

    df2 = pd.merge(df2, correct_t, on=['testId'], how="left")
    df2 = pd.merge(df2, correct_k, on=['KnowledgeTag'], how="left")
    
    return df2

train_fe = feature_engineering(train)
test_fe = feature_engineering(test)
train_fe.shape, test_fe.shape

((2266586, 22), (260114, 22))

In [29]:
train_fe['kind']='train'
test_fe['kind']='test'
df = pd.concat([train_fe,test_fe])

In [42]:
df[df.userID==7331]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,user_correct_answer,user_total_answer,user_acc,month,...,test_sum,tag_mean,tag_std,tag_sum,kind,Timestamp2,solvetime,solvesec,solvesec_3600,time_category
2524767,7331,A060130001,A060000130,1,2020-10-05 11:33:34,714,NaN,0,NaN,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:33:34,0 days 00:00:00,0.0,0.0,0
2524768,7331,A060130002,A060000130,0,2020-10-05 11:35:06,714,1.0,1,1.000000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:35:06,0 days 00:01:32,92.0,92.0,5
2524769,7331,A060130003,A060000130,1,2020-10-05 11:38:51,714,1.0,2,0.500000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:38:51,0 days 00:03:45,225.0,225.0,5
2524770,7331,A060130004,A060000130,0,2020-10-05 11:42:05,714,2.0,3,0.666667,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:42:05,0 days 00:03:14,194.0,194.0,5
2524771,7331,A060130005,A060000130,0,2020-10-05 11:53:15,714,2.0,4,0.500000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:53:15,0 days 00:11:10,670.0,670.0,6
2524772,7331,A060130006,A060000130,1,2020-10-05 12:02:13,714,2.0,5,0.400000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 12:02:13,0 days 00:08:58,538.0,538.0,5
2524773,7331,A060130007,A060000130,1,2020-10-05 12:13:36,714,3.0,6,0.500000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 12:13:36,0 days 00:11:23,683.0,683.0,6
2524774,7331,A020118001,A020000118,1,2020-10-25 03:02:10,8014,4.0,7,0.571429,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:02:10,19 days 14:48:34,1694914.0,3600.0,9
2524775,7331,A020118002,A020000118,1,2020-10-25 03:02:18,8014,5.0,8,0.625000,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:02:18,0 days 00:00:08,8.0,8.0,3
2524776,7331,A020118003,A020000118,0,2020-10-25 03:03:31,8014,6.0,9,0.666667,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:03:31,0 days 00:01:13,73.0,73.0,5
2524777,7331,A020118004,A020000118,1,2020-10-25 03:03:51,8014,6.0,10,0.600000,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:03:51,0 days 00:00:20,20.0,20.0,4
2524778,7331,A020118005,A020000118,1,2020-10-25 03:04:27,8014,7.0,11,0.636364,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:04:27,0 days 00:00:36,36.0,36.0,4
2524779,7331,A080130001,A080000130,1,2020-12-16 09:20:37,2726,8.0,12,0.666667,12,...,1175,0.544304,0.498823,172,train,2020-12-16 09:20:37,52 days 06:16:10,4515370.0,3600.0,9
2524780,7331,A080130002,A080000130,1,2020-12-16 09:20:55,2727,9.0,13,0.692308,12,...,1175,0.488924,0.500273,309,train,2020-12-16 09:20:55,0 days 00:00:18,18.0,18.0,4
2524781,7331,A080130003,A080000130,1,2020-12-16 09:21:05,2727,10.0,14,0.714286,12,...,1175,0.488924,0.500273,309,train,2020-12-16 09:21:05,0 days 00:00:10,10.0,10.0,3
2524782,7331,A080130004,A080000130,1,2020-12-16 09:24:02,9500,11.0,15,0.733333,12,...,1175,0.517405,0.500093,327,train,2020-12-16 09:24:02,0 days 00:02:57,177.0,177.0,5
2524783,7331,A080130005,A080000130,0,2020-12-16 09:24:03,8404,12.0,16,0.750000,12,...,1175,0.516707,0.499772,2536,train,2020-12-16 09:24:03,0 days 00:00:01,1.0,1.0,1
2524784,7331,A080130006,A080000130,0,2020-12-16 09:24:08,9500,12.0,17,0.705882,12,...,1175,0.517405,0.500093,327,train,2020-12-16 09:24:08,0 days 00:00:05,5.0,5.0,1
2524785,7331,A080130007,A080000130,0,2020-12-16 09:25:36,8404,12.0,18,0.666667,12,...,1175,0.516707,0.499772,2536,train,2020-12-16 09:25:36,0 days 00:01:28,88.0,88.0,5
2524786,7331,A080130008,A080000130,0,2020-12-16 09:26:15,8404,12.0,19,0.631579,12,...,1175,0.516707,0.499772,2536,train,2020-12-16 09:26:15,0 days 00:00:39,39.0,39.0,4

## 전체 데이터

### 문제푼시간 초단위 측정 및 내보내기

In [30]:
df = df.sort_values(['userID','Timestamp'])

df.reset_index(drop=True,inplace=True)

df['Timestamp2'] = pd.to_datetime(df.Timestamp)
df['solvetime'] = df.groupby('userID')['Timestamp2'].diff().fillna(pd.Timedelta(seconds=0))
df['solvesec'] = df.solvetime.map(lambda x : x.total_seconds())

df.solvesec.describe()

count    2.526700e+06
mean     5.263962e+04
std      4.053399e+05
min      0.000000e+00
25%      1.300000e+01
50%      3.700000e+01
75%      1.350000e+02
max      2.560230e+07
Name: solvesec, dtype: float64

In [40]:
df[df.userID==7331]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,user_correct_answer,user_total_answer,user_acc,month,...,test_sum,tag_mean,tag_std,tag_sum,kind,Timestamp2,solvetime,solvesec,solvesec_3600,time_category
2524767,7331,A060130001,A060000130,1,2020-10-05 11:33:34,714,NaN,0,NaN,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:33:34,0 days 00:00:00,0.0,0.0,0
2524768,7331,A060130002,A060000130,0,2020-10-05 11:35:06,714,1.0,1,1.000000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:35:06,0 days 00:01:32,92.0,92.0,5
2524769,7331,A060130003,A060000130,1,2020-10-05 11:38:51,714,1.0,2,0.500000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:38:51,0 days 00:03:45,225.0,225.0,5
2524770,7331,A060130004,A060000130,0,2020-10-05 11:42:05,714,2.0,3,0.666667,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:42:05,0 days 00:03:14,194.0,194.0,5
2524771,7331,A060130005,A060000130,0,2020-10-05 11:53:15,714,2.0,4,0.500000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 11:53:15,0 days 00:11:10,670.0,670.0,6
2524772,7331,A060130006,A060000130,1,2020-10-05 12:02:13,714,2.0,5,0.400000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 12:02:13,0 days 00:08:58,538.0,538.0,5
2524773,7331,A060130007,A060000130,1,2020-10-05 12:13:36,714,3.0,6,0.500000,10,...,745,0.487421,0.499901,2073,train,2020-10-05 12:13:36,0 days 00:11:23,683.0,683.0,6
2524774,7331,A020118001,A020000118,1,2020-10-25 03:02:10,8014,4.0,7,0.571429,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:02:10,19 days 14:48:34,1694914.0,3600.0,9
2524775,7331,A020118002,A020000118,1,2020-10-25 03:02:18,8014,5.0,8,0.625000,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:02:18,0 days 00:00:08,8.0,8.0,3
2524776,7331,A020118003,A020000118,0,2020-10-25 03:03:31,8014,6.0,9,0.666667,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:03:31,0 days 00:01:13,73.0,73.0,5
2524777,7331,A020118004,A020000118,1,2020-10-25 03:03:51,8014,6.0,10,0.600000,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:03:51,0 days 00:00:20,20.0,20.0,4
2524778,7331,A020118005,A020000118,1,2020-10-25 03:04:27,8014,7.0,11,0.636364,10,...,1067,0.792901,0.405277,3239,train,2020-10-25 03:04:27,0 days 00:00:36,36.0,36.0,4
2524779,7331,A080130001,A080000130,1,2020-12-16 09:20:37,2726,8.0,12,0.666667,12,...,1175,0.544304,0.498823,172,train,2020-12-16 09:20:37,52 days 06:16:10,4515370.0,3600.0,9
2524780,7331,A080130002,A080000130,1,2020-12-16 09:20:55,2727,9.0,13,0.692308,12,...,1175,0.488924,0.500273,309,train,2020-12-16 09:20:55,0 days 00:00:18,18.0,18.0,4
2524781,7331,A080130003,A080000130,1,2020-12-16 09:21:05,2727,10.0,14,0.714286,12,...,1175,0.488924,0.500273,309,train,2020-12-16 09:21:05,0 days 00:00:10,10.0,10.0,3
2524782,7331,A080130004,A080000130,1,2020-12-16 09:24:02,9500,11.0,15,0.733333,12,...,1175,0.517405,0.500093,327,train,2020-12-16 09:24:02,0 days 00:02:57,177.0,177.0,5
2524783,7331,A080130005,A080000130,0,2020-12-16 09:24:03,8404,12.0,16,0.750000,12,...,1175,0.516707,0.499772,2536,train,2020-12-16 09:24:03,0 days 00:00:01,1.0,1.0,1
2524784,7331,A080130006,A080000130,0,2020-12-16 09:24:08,9500,12.0,17,0.705882,12,...,1175,0.517405,0.500093,327,train,2020-12-16 09:24:08,0 days 00:00:05,5.0,5.0,1
2524785,7331,A080130007,A080000130,0,2020-12-16 09:25:36,8404,12.0,18,0.666667,12,...,1175,0.516707,0.499772,2536,train,2020-12-16 09:25:36,0 days 00:01:28,88.0,88.0,5
2524786,7331,A080130008,A080000130,0,2020-12-16 09:26:15,8404,12.0,19,0.631579,12,...,1175,0.516707,0.499772,2536,train,2020-12-16 09:26:15,0 days 00:00:39,39.0,39.0,4

In [31]:
df['solvesec_3600'] = df.solvesec
df.loc[df.solvesec>=3600,'solvesec_3600']=3600

In [32]:
# 문제푼 시간 초단위 측정 내보내기
df2 = df.drop(['Timestamp2','solvetime'],axis=1)
export(df2)

Write: /opt/ml/input/data/after_fe_train_test.pkl

### 4800초 이상 변환

In [7]:
df[df.solvesec>=4800].shape

(357230, 26)

In [8]:
df.loc[df.solvesec>=4800,'solvesec']=4800

In [9]:
# 문제푼 시간 초단위 측정 내보내기
df2 = df.drop(['Timestamp2','solvetime'],axis=1)
export(df2)

Write: /opt/ml/input/data/after_fe_train_test.pkl

## 3600초 이상 변환

In [10]:
df.loc[df.solvesec>=3600,'solvesec']=3600

In [11]:
# 문제푼 시간 초단위 측정 내보내기
df2 = df.drop(['Timestamp2','solvetime'],axis=1)
export(df2)

Write: /opt/ml/input/data/after_fe_train_test.pkl

In [238]:
df.solvesec.describe()

count    2.526700e+06
mean     5.912752e+02
std      1.252786e+03
min      0.000000e+00
25%      1.300000e+01
50%      3.700000e+01
75%      1.350000e+02
max      3.600000e+03
Name: solvesec, dtype: float64

### time category 나누기

In [33]:
df['time_category'] = ''

tc = [0,5,7,10,60,600,1200,2400,3600]
df.loc[(df.solvesec==0), 'time_category'] = "0 - [0,0]"
print(0)
for i in range(len(tc)-1):
    s,e = tc[i],tc[i+1]
    df.loc[(df.solvesec>s) & (df.solvesec<=e),'time_category']=f"{i+1} - ({s}, {e}]"
    print(s,e)
df.loc[(df.solvesec>=tc[-1]),'time_category'] = f"{i+2} - ({e}, )"
print(e)

0
0 5
5 7
7 10
10 60
60 600
600 1200
1200 2400
2400 3600
3600

In [34]:
time_grp = df.groupby('time_category')['answerCode'].agg(['mean','count'])
time_grp['C'] = time_grp.index.str.extract(r'(\d+)').astype(int)[0].tolist()
time_grp.sort_values('C')[['mean','count']]

                      mean    count
time_category
0 - [0,0]         0.576390    15722
1 - (0, 5]        0.246009   364747
2 - (5, 7]        0.491269    69176
3 - (7, 10]       0.664348   102204
4 - (10, 60]      0.751549  1008903
5 - (60, 600]     0.702995   552226
6 - (600, 1200]   0.682187    27384
7 - (1200, 2400]  0.697310    16763
8 - (2400, 3600]  0.716402     7560
9 - (3600, )      0.745632   362015

In [35]:
timecat2idx={k:v for v,k in enumerate(sorted(df.time_category.unique()))}
df['time_category'] = df.time_category.map(timecat2idx)
df.time_category.value_counts()

4    1008903
5     552226
1     364747
9     362015
3     102204
2      69176
6      27384
7      16763
0      15722
8       7560
Name: time_category, dtype: int64

In [39]:
df[:10]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,user_correct_answer,user_total_answer,user_acc,month,...,test_sum,tag_mean,tag_std,tag_sum,kind,Timestamp2,solvetime,solvesec,solvesec_3600,time_category
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,NaN,0,NaN,3,...,1268,0.955022,0.207410,637,train,2020-03-24 00:17:11,0 days 00:00:00,0.0,0.0,0
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1.0,1,1.000000,3,...,1268,0.913187,0.281603,3040,train,2020-03-24 00:17:14,0 days 00:00:03,3.0,3.0,1
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,2.0,2,1.000000,3,...,1268,0.913187,0.281603,3040,train,2020-03-24 00:17:22,0 days 00:00:08,8.0,8.0,3
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,3.0,3,1.000000,3,...,1268,0.913187,0.281603,3040,train,2020-03-24 00:17:29,0 days 00:00:07,7.0,7.0,2
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,4.0,4,1.000000,3,...,1268,0.913187,0.281603,3040,train,2020-03-24 00:17:36,0 days 00:00:07,7.0,7.0,2
5,0,A060001007,A060000001,1,2020-03-24 00:17:47,7225,5.0,5,1.000000,3,...,1268,0.913187,0.281603,3040,train,2020-03-24 00:17:47,0 days 00:00:11,11.0,11.0,4
6,0,A060003001,A060000003,0,2020-03-26 05:52:03,7226,6.0,6,1.000000,3,...,1223,0.799552,0.400380,3570,train,2020-03-26 05:52:03,2 days 05:34:16,192856.0,3600.0,9
7,0,A060003002,A060000003,1,2020-03-26 05:52:10,7226,6.0,7,0.857143,3,...,1223,0.799552,0.400380,3570,train,2020-03-26 05:52:10,0 days 00:00:07,7.0,7.0,2
8,0,A060003003,A060000003,1,2020-03-26 05:53:14,7226,7.0,8,0.875000,3,...,1223,0.799552,0.400380,3570,train,2020-03-26 05:53:14,0 days 00:01:04,64.0,64.0,5
9,0,A060003004,A060000003,1,2020-03-26 05:53:29,7226,8.0,9,0.888889,3,...,1223,0.799552,0.400380,3570,train,2020-03-26 05:53:29,0 days 00:00:15,15.0,15.0,4

In [37]:
df2 = df.drop(['Timestamp2','solvetime'],axis=1)

export(df2)

## 훈련 데이터

### 문제푼시간 초단위 측정

In [19]:
time_df = train.sort_values(['userID','Timestamp'])[['userID','Timestamp']]

time_df.reset_index(drop=True,inplace=True)

time_df['Timestamp'] = pd.to_datetime(time_df.Timestamp)

time_df['solvetime'] = time_df.groupby('userID')['Timestamp'].diff().fillna(pd.Timedelta(seconds=0))

time_df['solvetime_sec'] = time_df.solvetime.map(lambda x : x.total_seconds())

time_df.solvetime_sec.describe()

count    2.266586e+06
mean     5.268592e+04
std      4.046780e+05
min      0.000000e+00
25%      1.300000e+01
50%      3.700000e+01
75%      1.350000e+02
max      2.560230e+07
Name: solvetime_sec, dtype: float64

In [20]:
time_df[:3]

   userID           Timestamp       solvetime  solvetime_sec
0       0 2020-03-24 00:17:11 0 days 00:00:00            0.0
1       0 2020-03-24 00:17:14 0 days 00:00:03            3.0
2       0 2020-03-24 00:17:22 0 days 00:00:08            8.0

### 문제 푼 시간 time category 나누기

In [195]:
time_df['time_category'] = ''

tc = [0,3,5,7,10,30,60,300,600,1200,2400,3600,4800,9600]
time_df.loc[(time_df.solvetime_sec==0), 'time_category'] = "0 - [0,0]"
print(0)
for i in range(len(tc)-1):
    s,e = tc[i],tc[i+1]
    time_df.loc[(time_df.solvetime_sec>s) & (time_df.solvetime_sec<=e),'time_category']=f"{i+1} - ({s}, {e}]"
    print(s,e)
time_df.loc[(time_df.solvetime_sec>=tc[-1]),'time_category'] = f"{i+2} - ({e}, )"
print(e)

# time_df['time_category'] = time_df['time_category'].astype("category")

train.Timestamp = pd.to_datetime(train.Timestamp)
train_time = train.merge(time_df, on=['userID','Timestamp'])

0
0 3
3 5
5 7
7 10
10 30
30 60
60 300
300 600
600 1200
1200 2400
2400 3600
3600 4800
4800 9600
9600

In [23]:
df[df.answerCode==-1]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,user_correct_answer,user_total_answer,user_acc,month,...,test_std,test_sum,tag_mean,tag_std,tag_sum,kind,Timestamp2,solvetime,solvesec,time_category
2989,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289,717.0,1035,0.692754,10,...,0.490209,90,0.542662,0.505845,159,test,2020-10-26 13:13:57,0 days 00:00:46,46.0,4
3660,4,A070146008,A070000146,-1,2020-12-27 02:47:54,9080,465.0,670,0.694030,12,...,0.539601,77,0.565693,0.552442,155,test,2020-12-27 02:47:54,0 days 00:00:23,23.0,4
10860,13,A070111008,A070000111,-1,2020-12-27 04:35:09,9660,915.0,1316,0.695289,12,...,0.501291,117,0.446753,0.518307,172,test,2020-12-27 04:35:09,0 days 00:00:08,8.0,3
15278,17,A090064006,A090000064,-1,2020-10-30 05:48:37,2611,1031.0,1259,0.818904,10,...,0.530957,30,0.514286,0.531415,36,test,2020-10-30 05:48:37,0 days 00:01:15,75.0,5
23531,26,A060135007,A060000135,-1,2020-10-23 11:44:18,1422,293.0,386,0.759067,10,...,0.479048,133,0.602767,0.493836,305,test,2020-10-23 11:44:18,0 days 00:00:17,17.0,4
26895,29,A020190005,A020000190,-1,2020-10-22 04:38:45,8097,723.0,853,0.847597,10,...,0.503939,41,0.642424,0.517399,106,test,2020-10-22 04:38:45,0 days 00:00:30,30.0,4
39887,45,A040136005,A040000136,-1,2020-10-23 08:24:19,2107,746.0,1083,0.688827,10,...,0.512637,76,0.647059,0.489739,352,test,2020-10-23 08:24:19,0 days 00:00:04,4.0,1
47628,53,A040140005,A040000140,-1,2020-10-26 09:13:20,2110,362.0,692,0.523121,10,...,0.537362,102,0.665049,0.502492,274,test,2020-10-26 09:13:20,0 days 00:00:20,20.0,4
51927,58,A070159007,A070000159,-1,2020-12-24 21:09:29,9122,295.0,810,0.364198,12,...,0.514896,143,0.343478,0.544385,79,test,2020-12-24 21:09:29,0 days 00:00:02,2.0,1
57352,64,A070146008,A070000146,-1,2020-12-29 04:30:22,9080,1058.0,1269,0.833727,12,...,0.539601,77,0.565693,0.552442,155,test,2020-12-29 04:30:22,0 days 00:00:02,2.0,1
65977,76,A050149007,A050000149,-1,2020-10-26 10:04:03,444,290.0,409,0.709046,10,...,0.510279,129,0.718992,0.475116,371,test,2020-10-26 10:04:03,0 days 00:00:30,30.0,4
69128,79,A070164008,A070000164,-1,2020-12-14 05:25:04,9124,778.0,1069,0.727783,12,...,0.539240,20,0.548544,0.508535,113,test,2020-12-14 05:25:04,0 days 00:03:28,208.0,5
84101,94,A010146005,A010000146,-1,2020-10-26 11:11:21,7803,1087.0,1291,0.841983,10,...,0.457432,74,0.827189,0.424534,359,test,2020-10-26 11:11:21,0 days 00:00:15,15.0,4
107130,120,A050153007,A050000153,-1,2020-10-26 08:02:56,448,382.0,533,0.716698,10,...,0.573349,91,0.605882,0.546343,206,test,2020-10-26 08:02:56,0 days 00:00:26,26.0,4
136768,159,A050141007,A050000141,-1,2020-10-26 08:34:57,5311,704.0,937,0.751334,10,...,0.436661,138,0.732824,0.460292,192,test,2020-10-26 08:34:57,0 days 00:01:47,107.0,5
148130,172,A020133005,A020000133,-1,2020-10-21 12:18:42,8122,518.0,632,0.819620,10,...,0.381109,135,0.783664,0.433138,355,test,2020-10-21 12:18:42,0 days 00:00:11,11.0,4
163216,193,A070151008,A070000151,-1,2020-12-28 03:50:45,7866,89.0,266,0.334586,12,...,0.516027,133,0.486486,0.540678,72,test,2020-12-28 03:50:45,0 days 00:00:03,3.0,1
168083,200,A020144005,A020000144,-1,2020-10-22 11:25:13,8124,653.0,883,0.739524,10,...,0.376036,158,0.833741,0.427872,341,test,2020-10-22 11:25:13,0 days 00:00:31,31.0,4
171153,203,A060073007,A060000073,-1,2020-10-23 10:00:55,616,1111.0,1317,0.843584,10,...,0.460444,136,0.772021,0.428053,447,test,2020-10-23 10:00:55,0 days 00:02:06,126.0,5
172094,204,A070145008,A070000145,-1,2020-12-22 02:34:46,9080,456.0,940,0.485106,12,...,0.521214,133,0.565693,0.552442,155,test,2020-12-22 02:34:46,0 days 00:04:14,254.0,5
182349,217,A060151007,A060000151,-1,2020-10-23 09:17:46,1458,833.0,1045,0.797129,10,...,0.420904,144,0.762097,0.440219,378,test,2020-10-23 09:17:46,0 days 00:00:27,27.0,4
188887,226,A040142005,A040000142,-1,2020-10-26 11:21:33,2111,148.0,215,0.688372,10,...,0.506936,96,0.494275,0.511779,259,test,2020-10-26 11:21:33,0 days 00:00:16,16.0,4
201366,244,A050167007,A050000167,-1,2020-10-26 07:24:07,5542,143.0,488,0.293033,10,...,0.443621,117,0.606335,0.542516,134,test,2020-10-26 07:24:07,0 days 00:00:27,27.0,4
212705,257,A070137005,A070000137,-1,2020-12-28 02:34:15,9099,458.0,717,0.638773,12,...,0.533253,114,0.573864,0.533973,202,test,2020-12-28 02:34:15,0 days 00:00:00,0.0,0
215477,260,A070142004,A070000142,-1,2020-12-23 03:50:54,9098,918.0,1334,0.688156,12,...,0.562856,54,0.535354,0.510064,106,test,2020-12-23 03:50:54,0 days 00:00:01,1.0,1
217018,262,A010154004,A010000154,-1,2020-10-26 07:41:28,7803,540.0,764,0.706806,10,...,0.489757,118,0.827189,0.424534,359,test,2020-10-26 07:41:28,0 days 00:01:58,118.0,5
242516,295,A010146005,A010000146,-1,2020-10-26 09:43:40,7803,504.0,703,0.716927,10,...,0.457432,74,0.827189,0.424534,359,test,2020-10-26 09:43:40,0 days 00:00:12,12.0,4
256417,313,A010153006,A010000153,-1,2020-10-23 08:39:34,7802,608.0,836,0.727273,10,...,0.353036,226,0.850365,0.381783,466,test,2020-10-23 08:39:34,0 days 00:00:21,21.0,4
259319,317,A050157007,A050000157,-1,2020-10-22 11:47:49,455,294.0,417,0.705036,10,...,0.536108,86,0.560510,0.535144,88,test,2020-10-22 11:47:49,0 days 00:00:35,35.0,4
266450,325,A080127008,A080000127,-1,2020-12-03 03:36:58,2721,656.0,800,0.820000,12,...,0.512778,142,0.445455,0.509837,147,test,2020-12-03 03:36:58,0 days 00:00:56,56.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2521703,7184,A060124007,A060000124,-1,2020-10-25 10:49:49,711,8.0,21,0.380952,10,...,0.425927,148,0.772727,0.424410,374,test,2020-10-25 10:49:49,0 days 00:00:05,5.0,1
2521891,7192,A080135008,A080000135,-1,2020-12-24 00:54:12,8420,24.0,32,0.750000,12,...,0.561631,139,0.464396,0.555007,300,test,2020-12-24 00:54:12,0 days 00:00:36,36.0,4
2521909,7193,A030076005,A030000076,-1,2020-08-12 12:45:56,475,12.0,17,0.705882,8,...,0.482199,86,0.739919,0.448228,367,test,2020-08-12 12:45:56,0 days 00:00:14,14.0,4
2522012,7198,A030150005,A030000150,-1,2020-10-01 09:51:50,7823,11.0,23,0.478261,10,...,0.514311,80,0.710723,0.464876,285,test,2020-10-01 09:51:50,0 days 00:02:14,134.0,5
2522090,7202,A030167005,A030000167,-1,2020-10-19 22:49:15,1728,12.0,18,0.666667,10,...,0.529419,105,0.443820,0.531165,79,test,2020-10-19 22:49:15,0 days 00:13:32,812.0,6
2522389,7216,A020170006,A020000170,-1,2020-10-23 22:59:06,8130,7.0,15,0.466667,10,...,0.579071,65,0.618056,0.540957,178,test,2020-10-23 22:59:06,0 days 00:00:55,55.0,4
2522487,7220,A020192007,A020000192,-1,2020-10-26 05:58:36,8093,28.0,36,0.777778,10,...,0.522550,71,0.355140,0.518567,38,test,2020-10-26 05:58:36,0 days 00:02:17,137.0,5
2522683,7228,A020147004,A020000147,-1,2020-09-22 03:05:19,8124,7.0,20,0.350000,9,...,0.481840,81,0.833741,0.427872,341,test,2020-09-22 03:05:19,0 days 00:03:47,227.0,5
2522837,7234,A070091008,A070000091,-1,2020-12-28 08:46:48,8891,17.0,28,0.607143,12,...,0.506084,145,0.593333,0.498783,178,test,2020-12-28 08:46:48,0 days 00:00:05,5.0,1
2523000,7242,A030159007,A030000159,-1,2020-10-26 12:58:29,1721,21.0,23,0.913043,10,...,0.490539,138,0.664488,0.503982,305,test,2020-10-26 12:58:29,0 days 00:00:24,24.0,4
2523118,7247,A020135006,A020000135,-1,2020-10-22 09:34:19,8016,14.0,27,0.518519,10,...,0.420238,138,0.755396,0.455083,210,test,2020-10-22 09:34:19,0 days 00:00:19,19.0,4
2523135,7248,A030185005,A030000185,-1,2020-10-12 07:24:19,1963,13.0,16,0.812500,10,...,0.422046,140,0.750789,0.475049,238,test,2020-10-12 07:24:19,0 days 00:00:21,21.0,4
2523243,7253,A080122006,A080000122,-1,2020-11-25 07:41:40,1203,5.0,24,0.208333,11,...,0.516478,117,0.443038,0.510134,140,test,2020-11-25 07:41:40,0 days 00:00:03,3.0,1
2523362,7259,A060117005,A060000117,-1,2020-10-20 05:52:23,714,12.0,25,0.480000,10,...,0.521164,53,0.529175,0.503670,263,test,2020-10-20 05:52:23,0 days 00:00:13,13.0,4
2523933,7288,A030197005,A030000197,-1,2020-09-15 08:57:52,1984,13.0,17,0.764706,9,...,0.530652,84,0.643478,0.523530,148,test,2020-09-15 08:57:52,0 days 00:00:42,42.0,4
2524031,7293,A050153007,A050000153,-1,2020-10-20 11:02:50,448,12.0,16,0.750000,10,...,0.573349,91,0.605882,0.546343,206,test,2020-10-20 11:02:50,0 days 00:00:07,7.0,2
2524318,7308,A010138004,A010000138,-1,2020-10-26 11:12:33,6807,15.0,20,0.750000,10,...,0.505901,103,0.776087,0.437703,357,test,2020-10-26 11:12:33,0 days 00:00:29,29.0,4
2525223,7354,A040170005,A040000170,-1,2020-10-26 12:28:43,2119,7.0,14,0.500000,10,...,0.455656,125,0.745358,0.454160,281,test,2020-10-26 12:28:43,0 days 00:00:08,8.0,3
2525385,7363,A020172006,A020000172,-1,2020-10-22 07:00:17,8132,16.0,20,0.800000,10,...,0.542796,47,0.525292,0.530645,135,test,2020-10-22 07:00:17,0 days 00:00:44,44.0,4
2525407,7364,A040161007,A040000161,-1,2020-10-24 04:31:23,2118,16.0,21,0.761905,10,...,0.520175,144,0.597403,0.621189,92,test,2020-10-24 04:31:23,0 days 00:00:46,46.0,4
2525476,7368,A040191005,A040000191,-1,2020-09-04 09:29:24,2132,11.0,16,0.687500,9,...,0.484234,98,0.720930,0.471632,279,test,2020-09-04 09:29:24,0 days 00:00:19,19.0,4
2525493,7369,A040147004,A040000147,-1,2020-10-23 02:13:02,2113,9.0,16,0.562500,10,...,0.494755,95,0.776091,0.456426,409,test,2020-10-23 02:13:02,0 days 00:01:02,62.0,5
2525558,7373,A050178005,A050000178,-1,2020-10-20 09:56:59,10395,10.0,14,0.714286,10,...,0.455331,79,0.699507,0.474901,284,test,2020-10-20 09:56:59,0 days 00:00:31,31.0,4
2525712,7382,A050148005,A050000148,-1,2020-10-26 06:06:06,441,10.0,17,0.588235,10,...,0.467637,97,0.662338,0.528413,51,test,2020-10-26 06:06:06,0 days 00:00:16,16.0,4
2525876,7392,A010182005,A010000182,-1,2020-10-13 11:40:08,7812,12.0,17,0.705882,10,...,0.456294,129,0.797235,0.446583,173,test,2020-10-13 11:40:08,0 days 00:00:25,25.0,4
2525938,7395,A040122005,A040000122,-1,2020-09-08 02:05:20,10615,7.0,23,0.304348,9,...,0.443653,147,0.654902,0.484530,167,test,2020-09-08 02:05:20,0 days 00:00:02,2.0,1
2526081,7404,A030111005,A030000111,-1,2020-10-13 09:49:18,7636,7.0,14,0.500000,10,...,0.356895,156,0.834661,0.377186,419,test,2020-10-13 09:49:18,0 days 00:01:47,107.0,5
2526282,7416,A050193004,A050000193,-1,2020-10-04 02:44:41,10402,7.0,14,0.500000,10,...,0.479372,75,0.792517,0.446234,233,test,2020-10-04 02:44:41,0 days 00:00:24,24.0,4
2526297,7417,A050193004,A050000193,-1,2020-09-06 13:09:15,10402,2.0,14,0.142857,9,...,0.479372,75,0.792517,0.446234,233,test,2020-09-06 13:09:15,0 days 00:00:21,21.0,4
2526675,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832,11.0,15,0.733333,10,...,0.499738,127,0.584848,0.499618,193,test,2020-10-14 23:10:03,0 days 00:00:32,32.0,4

In [196]:
time_grp = train_time.groupby('time_category')['answerCode'].agg(['mean','count'])
time_grp['C'] = time_grp.index.str.extract(r'(\d+)').astype(int)[0].tolist()
time_grp.sort_values('C')[['mean','count']]

                       mean   count
time_category
0 - [0,0]          0.532680   21833
1 - (0, 3]         0.233128  241953
2 - (3, 5]         0.282027   87839
3 - (5, 7]         0.490113   62404
4 - (7, 10]        0.663017   91619
5 - (10, 30]       0.759592  531122
6 - (30, 60]       0.740142  376013
7 - (60, 300]      0.705638  444813
8 - (300, 600]     0.680505   52223
9 - (600, 1200]    0.681578   24769
10 - (1200, 2400]  0.697588   15006
11 - (2400, 3600]  0.719257    6839
12 - (3600, 4800]  0.730107    4298
13 - (4800, 9600]  0.744006   10094
14 - (9600, )      0.745662  310889

In [193]:
time_grp = train_time.groupby('time_category')['answerCode'].agg(['mean','count'])
time_grp['C'] = time_grp.index.str.extract(r'(\d+)').astype(int)[0].tolist()
time_grp.sort_values('C')[['mean','count']]

                     mean   count
time_category
0 - 0, 3         0.269412  187341
1 - 3, 5         0.237244  126916
2 - 5, 7         0.378013   69331
3 - 7, 10        0.610907   91058
4 - 10, 30       0.756369  542242
5 - 30, 60       0.741391  387770
6 - 60, 300      0.705877  452573
7 - 300, 600     0.680625   52512
8 - 600, 1200    0.681533   24822
9 - 1200, 2400   0.697510   15022
10 - 2400, 3600  0.718965    6839
11 - 3600, 4800  0.730653    4303
12 - 4800, 9600  0.743859   10096
13 - 9600~       0.745662  310889

In [159]:
train_time.groupby('time_category')['answerCode'].agg(['mean','count'])

                     mean   count
time_category
0 - 0, 3         0.269412  187341
1 - 3, 5         0.237244  126916
10 - 2400, 3600  0.718965    6839
11 - 3600, 4800  0.730653    4303
12 - 4800, 9600  0.743859   10096
13 - 9600~       0.745662  310889
2 - 5, 7         0.378013   69331
3 - 7, 10        0.610907   91058
4 - 10, 30       0.756369  542242
5 - 30, 60       0.741391  387770
6 - 60, 300      0.705877  452573
7 - 300, 600     0.680625   52512
8 - 600, 1200    0.681533   24822
9 - 1200, 2400   0.697510   15022

In [142]:
train_time.groupby('time_category')['answerCode'].agg(['mean','count'])

                    mean   count
time_category
0 - 0, 5        0.256421  314257
1 - 5, 30       0.700184  702631
10 - 9600~      0.745662  310889
2 - 30, 60      0.741391  387770
3 - 60, 300     0.705877  452573
4 - 300, 600    0.680625   52512
5 - 600, 1200   0.681533   24822
6 - 1200, 2400  0.697510   15022
7 - 2400, 3600  0.718965    6839
8 - 3600, 4800  0.730653    4303
9 - 4800, 9600  0.743859   10096

In [145]:
train_time[train_time.solvetime_sec==0].answerCode.mean()

0.5326798882425686

In [140]:
train_time.groupby('time_category')['answerCode'].agg(['mean','count'])

                    mean   count
time_category
0 - 0, 5        0.256421  314257
1 - 5, 30       0.700184  702631
2 - 30, 60      0.741391  387770
3 - 60, 300     0.705877  452573
4 - 300, 600    0.680625   52512
5 - 600, 1200   0.681533   24822
6 - 1200, 2400  0.697510   15022
7 - 2400~       0.744863  332127